.cb-book-item-effect {
    cursor: pointer;
}

.cb-book-item-effect.cursor-auto {
    cursor: auto;
}

.cb-book-item-effect .book {
    position: relative;
    display: block;
    width: 200px;
    height: 250px;
    border-radius: 2px 4px 4px 2px;
    background: linear-gradient(45deg,  #ffffff 0%, #ffffff 100%);
    font-family: acumin-pro, sans-serif;
    -webkit-box-shadow: 6px 6px 4px 0px rgba(42, 37, 44, 0.3);
    -moz-box-shadow: 6px 6px 4px 0px rgba(151, 146, 153, 0.3);
    box-shadow: 6px 6px 4px 0px rgba(151, 146, 153, 0.3);
    font-weight: 400;
    color: #2b2b2b;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    transition: transform .5s;
}

.cb-book-item-effect .book:hover {
    -webkit-transform: rotate3d(0,1,0,35deg);
    -moz-transform: rotate3d(0,1,0,35deg);
    transform: rotate3d(0,1,0,35deg);
}

.cb-book-item-effect .book > div,
.cb-book-item-effect .front > div {
    display: block;
    position: absolute;
}

.cb-book-item-effect .front {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    transition: transform .5s;
    -webkit-transform: translate3d(0,0,20px);
    -moz-transform: translate3d(0,0,20px);
    transform: translate3d(0,0,20px);
    z-index: 10;
}

.cb-book-item-effect .front > div {
    width: 200px;
    height: 250px;
}

.cb-book-item-effect .left-side {
    left: -20px;
    width: 40px;
    height: 250px;
    /* background-color: rgba(232,229,234); */
    background: linear-gradient(270deg,  #fafafa 0%, #f2f2f2 100%);
    -webkit-transform: rotate3d(0,1,0,-90deg);
    -moz-transform: rotate3d(0,1,0,-90deg);
    transform: rotate3d(0,1,0,-90deg);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-size: auto calc(100% + 50px);
    background-repeat: no-repeat;
    background-position: left top;
}

.cb-book-item-effect .left-side::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    /* box-shadow: inset 4px 0px 10px 0px rgba(255, 255, 255, 0.1); */
    box-shadow: inset 20px 0 20px 0 rgba(0, 0, 0, 0.1);
}

.cb-book-item-effect .front > div {
    border-radius: 0 3px 3px 0;
    box-shadow: inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.cb-book-item-effect .front:after {
    content: '';
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: -1px;
    width: 1px;
}

.cb-book-item-effect .cover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    width: 3px;
    background: rgba(0,0,0,0.05);
    box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}

.cb-book-item-effect h2 {
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2b2b2b;
    font-size: 15px;
    line-height: 40px;
    padding-right: 10px;
    text-align: right;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(90deg) translateY(-40px);
    -moz-transform: rotate(90deg) translateY(-40px);
    transform: rotate(90deg) translateY(-40px);
}

.cb-book-item-effect .cover {
    background: linear-gradient(45deg,  #ffffff 0%, #ffffff 100%);
    background-size: calc(100% + 50px) calc(100% + 50px);
    background-repeat: no-repeat;
    background-position: -42px top;
}

.cb-book-item-effect .left-side h2 span:first-child {
    font-size: 15px;
    padding-right: 20px;
    font-family: 'Nanum Pen Script', serif;
    font-weight: 400;
}

.cb-book-item-effect .left-side h2 span:last-child{
    flex: 1;
    font-size: 10px;
    font-family: acumin-pro, sans-serif;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
    font-family: 'Nanum Pen Script', serif;
}


/* ----------------- content type ----------------------- */
.cb-book-item-effect .cover .line {
    position: absolute;
    bottom: 10%;
    width: calc(100% - 20px);
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 13px;
    background-color: white;
    z-index: 1;
    box-shadow: inset 5px 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 0 10px;
    background-repeat: no-repeat;
    background-position: 15px;
    background-size: auto 35px;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
}

.cb-book-item-effect .cover .line .title,
.cb-book-item-effect .cover .line .author {
    max-width: 100%;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
}

.cb-book-item-effect .left-side .line {
    position: absolute;
    bottom: 10%;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 13px;
    background-color: white;
    z-index: 1;
    box-shadow: inset 40px 0 40px 0 rgba(0, 0, 0, 0.1);
}