.cb-search {
    position: absolute;
    top: 50px;
    left: 0px;
    width: calc(100vw - 0px);
    height: 50px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
    z-index: 2;
}

.cb-search .max-wrapper {
    max-width: calc(1170px + 50px);
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 2;
}

.cb-search .left .item {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-bottom: solid 1px #e2e2e2; */
    color: #000000;
    cursor: pointer;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(93,109,190,1) 0%, rgba(145,152,229,1) 100%);
    position: relative;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: absolute;
    left: 5px;
    top: 5px;
}

.cb-search .left .item::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    margin: auto;
    border: 1px solid #ffffff;
    border-radius: 50%;
}

.cb-search .left .item img {
    width: 30px;
    height: auto;
    position: absolute;
    top: 10px;
    width: 35px;
    height: 35px;
    margin: auto;
    z-index: 1;
}

.cb-search .left #btn-book-add {
    display: none;
}

.cb-search .left .item .icon {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.cb-search .left .item .icon.only {
    align-items: center;
    cursor: initial;
    color: #000000;
}

.cb-search .left .item .text {
    font-size: 15px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: -2px 0px 2px rgba(65, 81, 160, 0.1);
    text-align: center;
    line-height: 1.1em;
    position: absolute;
    top: 20px;
    margin: auto;
    z-index: 2;
}

.cb-search .center {
    flex: 1;
}

.cb-search .right {
    margin-right: 10px;
}

.cb-search .search-wrapper {
    position: relative;
}

.cb-search .search-input {
    font-size: 15px;
    font-weight: 900;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: #5D6DBE;
}

.cb-search .search-icon {
    position: absolute;
    top: 0px;
    right: 8px;
    color: #5D6DBE;
    cursor: pointer;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}