@media (max-width: 1024px) { 
    .cb-review-write {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        max-width: none;
        border-radius: 0px;
    }
}