@media (max-width: 1024px) { 
    .cb-signin-box {
        border: none;
        box-shadow: none;
        margin-top: 10px;
    }

    .cb-signin-box .head .logo.shadows {
        text-align: center;
    }

    .cb-signin-box .foot .error {
        margin-bottom: 20px;
        text-align: center;
    }

    .cb-signin-box .foot .button {
        justify-content: center;
    }
}