.cb-book-detail {
    position: absolute;
    top: 100px;
    left: 50px;
    width: calc(100vw - 110px);
    height: calc(100vh - 140px);
    background-color: #FAFAFA;
    padding: 20px 30px 20px 30px;
    overflow-x: hidden;
    overflow-y: auto;
}

.cb-book-detail .max-wrapper {
    max-width: 1170px;
    margin: auto;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
}