.cb-join {
    position: absolute;
    top: 100px;
    left: 50px;
    width: calc(100vw - 50px);
    height: calc(100vh - 100px);
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #FAFAFA;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}